aprendendo-sintaxe-java/tipos-variaveis/.vscode/settings.json
aprendendo-sintaxe-java/java-terminal/.vscode/settings.json
estrutura-de-repeticao-e-arrays/Exercicio-1/.vscode/settings.json
logica-condicional-controle-de-fluxos-em-java/operadores-relacionais/.vscode/settings.json
